<div class="account-form panel panel-default">
	<div class="panel-heading">Edit Account Settings</div>
	<div class="panel-body">
		<%= form_for :user do |f| %>
		  Biography:<br/>
		  <%= f.text_field :biography, placeholder: @current_user.bio, class: 'account-input-text' %><br/>
		  Age:<br/>
		  <%= f.text_field :age, placeholder: @current_user.age, class: 'account-input-text' %><br/>
		  <div class="row">
		  	<div class="col-md-6" style="text-align:center">
				  Gender:<br/> 
				  <%= f.select :gender, [ 'Male', 'Female' ], :prompt => 'Select One', class: 'account-input-text'%>
				</div>
				<div class="col-md-6" style="text-align:center">
				  Interests:<br/> 
				  <%= f.select :from, [ 'Male', 'Female', 'Both' ], :prompt => 'Select One'%><br/>
				</div>
			</div>
			<%= f.submit "Set Sail!", class: 'account-save-button btn btn-default' %>
		<% end %>
	</div>
</div>